.adminRouteContainer {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    gap: 10px;
    background-color: var(--color-primary-dark);
    width: 50vw;
    height: 90vh;
}

.adminHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
