.adminAppContainer {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    gap: 10px;
    background-color: var(--color-primary-dark);
    width: 50vw;
    height: 90vh;
}



.adminHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pageList {
    display: flex;
    gap: 10px;
    padding-bottom: 10px;
    align-items: center;
    overflow-x: auto;
    width: 100%;
}

.pageList> :first-child {
    margin-left: auto;
}

.pageList> :last-child {
    margin-right: auto;
}

.pageCard {
    position: relative;
    padding: 8px;
    cursor: pointer;
    border-radius: 8px;
    border: 1px solid var(--border-color);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 80px;
    height: 80px;
    flex-shrink: 0;
    overflow: hidden;
    font-size: 12px;
    background-color: var(--color-primary);
    filter: brightness(0.65)
}

.pageCardActive {
    filter: brightness(1);
}

.pageEditor {
    padding: 20px;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    background-color: var(--bg-page);
    flex: 1;
    overflow-y: auto;
    min-height: 0;
}

.ioRow {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
    align-items: center;
}