/* Add this to index.css */
#root {
  width: 100%;
  display: flex;
  justify-content: center;
  /* Centers the AdminApp inside root */
  align-items: center;
  /* Centers vertically */
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: red;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  background-color: gray;
  min-width: 400px;
  min-width: 400px;
  border-radius: 24px;
  padding: 24px;
}