*, *::before, *::after {
    box-sizing: border-box;
}

#root {
  width: 100%;
  display: flex;
  justify-content: center;
  /* Centers the AdminApp inside root */
  align-items: center;
  /* Centers vertically */
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--bg);
  color: white;
}

.button {
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
  transition: filter 0.2s;
  background-color: var(--color-primary);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button:hover {
  filter: brightness(0.85);
}

.actionButton {
  background-color: var(--color-secondary);
}

.smallButton {
  padding: 5px;
}