/* Add this to index.css */
* {
  box-sizing: border-box;
}

#root {
  width: 100%;
  display: flex;
  justify-content: center;
  /* Centers the AdminApp inside root */
  align-items: center;
  /* Centers vertically */
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--bg);
  color: white;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  background-color: var(--bg-page);
  min-width: 400px;
  min-width: 400px;
  border-radius: 24px;
  padding: 24px;
}